@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Kranky);
* { margin:0; padding:0; box-sizing:border-box; }
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fff;
    font-size:16px;
}

header {
    background-image: url(../images/sunheader.png);
    font-size: 2em;
    background-color:#555;
    color:black;
    text-align:center;
    padding:2em; 
}

header img{
    padding-bottom: 2em;
}

nav a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
a{
    color: #5A7302;
}
a:visited{
    color: #000;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
}

a:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

#main{
    background-color: #000;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content:"";
  clear: both;
  height: 0;
}

h2{
    color: #000;
    font-size: 2.2em;
    font-family:Raleway, sans-serif;
    text-align: center;
}


.column {
    float:left;
    width: 25%;
   padding: 1em;
}

.summary{
    font-family: Raleway, sans-serif;
    text-align: center;
    padding-bottom: .5em;
}

 .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
}

.item a{
    color: #fff;
    font-weight: bolder;
}

footer{
    background-color:#FFCC00;
    color:black;
    clear:both;
    text-align:center;
    padding:2em; 
}
