body{
	background-color:#ffffff;
	text-align: center;
}

h1{
	color:#663399;
	font-size: 100px
	;
}
h3{font-family: impact,fantasy;
	font-size: 40px
	text-decoration:underline;
}
p{
	color:#000000;
	font-family: papyrus, fantasy;
}

h5{font-style: italic;
	color: #000000;
}
ul{text-align: center;
	font-weight: bold;
	list-style-type: none;
}

h6{color:000000;
	font-weight: bold;
}
a{text-align: justify;
}