body{
	background-color:#ffffff;
	text-align: center;
}

h1{
	color:#ffff00;
	text-decoration: underline;
	font-size: 100px
	font-weight:normal;

 
}
p{
	color:black;
	font-family: arial, sans-serif;

}
#slogan{font-style: italic;
	color: rgb(000);
}
