* { margin:0; padding:0; box-sizing:border-box; }

body{
  background-color:#fff;
  font-size: 16px;
}

header{
    text-align: center;
    padding: 1em;
 }

nav {
  background: #FCC248;
  margin-top: 1em;
  width: 50%;
  display: inline-block;
}

nav a {
  float: left;
  padding: .5em ;
  color: #ffffff;
  text-decoration: none;
  border-right: .200em solid #fff;
}

nav a:hover { 
  background-color: #000; 
}

#running img{
  float: left;
  width: 100%;
}

h1{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.5em;
  text-align: left;
  color: #007CD3;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

h4{
  font-family:"Arial Black", Gadget, sans-serif;
}

h5{
  font-size: 2em;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#aboutus p{
  text-align: center;
  margin: 1em;
  padding: 1em;
}

#about1 , #about2{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  margin-top: .5em;
  text-align: left;
}

#about3{
  margin-top: 1em;
  text-align: center;
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.italic{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: italic;
  font-size: .8em;
  text-align:center;
}

.short{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;hbb  
}

.caption{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.article {
  width: 23.9%;
  height: 100%;
  float: left;
  padding: 1em;
  margin: .1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: inline;
}

#readmore a{
  float: right;
  padding: 1em;
}

#readmore{
  text-align: center;
}

#article1 {
  background-color: #00CF2D;
}

#article2 {
  background-color: #007CD3;
}

#article3 {
  background-color: #FCC248;
}

#article4{
	background-color:#D6004E;
}

#article5 {
  width: 48%;
  float: left;
  padding: .5em;
}

#article5 img {
  width: 75%;
  padding: 2em;
  margin: 2.5em;
}

.column {
  float:right;
  width: 50%;
  height: 100%;
  padding: 2em;
}

.search , .join , .faq , .resources{
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 1em;
}

.search {
  list-style-image: url("../images/search.jpg");
  list-style-position: inside;
}

.join {
  list-style-image:  url("../images/join.jpg");
  list-style-position: inside;
}

.faq {
  list-style-image: url("../images/faq.jpg");
  list-style-position: inside;
}

.resources {
  list-style-image: url("../images/resource.jpg");
  list-style-position: inside;
}

#column1, #column2 {
  background-color: #ffffff;
}

#column4 , #column3 {
  width: 50%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
}

.one{
  list-style-image: url("../images/one.jpg");
  list-style-position: inside;
}
.two{
  list-style-image: url("../images/two.jpg");
  list-style-position: inside;
}
.three{
  list-style-image: url("../images/one.jpg");
  list-style-position: inside;
}
.four{
  list-style-image: url("../images/four.jpg");
  list-style-position: inside;
}
.five{
  list-style-image: url("../images/five.jpg");
  list-style-position: inside;
}
.six{
  list-style-image: url("../images/six.jpg");
  list-style-position: inside;
}
.one, .two, .three, .four, .five, .six{
  margin-top: 1em;
  padding-left: 1em;
}

.article img{
  width: 100%
}

.container{
  float:right;
  width: 75%;
  padding: 2em;
}

address{
  text-align: left;
}

#questionanswer{
  float: left;
  width: 75%;
  margin: 5em;
}

.question{
  text-align: center;
  font-family:"Trebuchet MS", Helvetica, sans-serif; 
  font-weight: bold;
  margin: 1em .5em;
  color: #fCC248;
  background-color: #000;
  padding: 2em;

}

.answer{
  text-align: center;
  font-weight: bolder;
  font-family:  "Trebuchet MS", Helvetica, sans-serif; 
  color: #000;
  background-color: #fCC248;
  padding: 1em;
}

form{
  float: left;
  margin:2em;
  width:30%;
  padding: 1em;
  border: .2em solid #FCC248;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label{
  display: inline-block;
  width: 9%;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 100%;
  border: .2% solid #000;
}

input:focus, textarea:focus{
  border-color: #000;
}

textarea{
  vertical-align: top;
  height: 5em;
  resize:vertical;
}

.button{
  padding-left:40%;
}

button{
  margin-left: .5em;
}

.paxton{
  float:left;
  width: 50%;
  padding: 2em;
}

h6{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.5em;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
  background-color: #FCC248;
  text-align: center;
  padding: 1em;
  color: #fff;
}

@media only screen and (max-width:480px){
 body {
  font-size: 12px;
 }

 nav a {
  float: none;
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 0;
 }

 #article1 ,#article2, #article3, #article4 {
  float: none;
  width: auto;
 display: none;
 }

 #article5 {
  float: none;
  width: auto;
}

#running img{
  display: none;
}

#column1 , #column2 {
  float: none;
  width: auto;
 }

 #column3 , #column4{
  float: none;
  width: auto
}

#aboutus p{
  margin: .5em;
  padding: 1em;
  text-align: center;
}

#aboutus img{
  display: none;
}

form {
  float: none;
  width: auto;
}

.paxton{
  display: none;
}

iframe{
  display: none;
}

@media only screen and (max-width:768px) {
  body{
  font-size: 14px;
 }

 nav a {
  float: none;
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 0;
 }

 #article1 ,#article2, #article3, #article4 {
  float: none;
  width: auto;
 }

 #article5  {
  float: none;
  width: auto;
}

 #column1 , #column2 {
  float: none;
  width: auto;
 }

 #column3 , #column4{
  float: none;
  width: auto
}

#running img{
  float: none;
}

form {
  float: none;
  width: auto;
}

.paxton{
  display: none;
}

iframe{
 width: auto;
}

}