* { margin:0; padding:0; box-sizing:border-box; }

body{
    background: #fff;
    font-family: Raleway, sans-serif;
}

header{
    text-align: center;
    padding: 1em;
    background: #FF8966;
}


nav a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
a:visited{
    color: #fff;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
}

a:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

div img{
    float: left;
    padding: 1em;
    clear: both;
    width: 25%;
}

h1{
    background-color: #C8637B;
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

h2{
    background: #C8637B;
    color: #fff;
    font-size: 2.2em;
    font-family:Raleway, sans-serif;
    text-align: center;
    padding: .5em; 
}

section p {
    background: #EBD690;
}

.wrapper{
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

#one{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.column {
    float: left;
    width: 33.33%;
    padding: .7em;
    
}

#funfacts{
    text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content:"";
  clear: both;
  height: 0;
}

.date{
    text-align: center;
    font-style: italic;
    padding-bottom: 1em;
}

.school{
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

.facts{
    padding: .5em;
    list-style-type: square;
    list-style-position: inside;
    background-color: #fff;
    line-height: 1.5em;
}

.work{
    text-align: center;
    font-weight: bold;
    padding: 1em;
}
li{
    padding-bottom: 1.5em;
}

footer{
    font-family: georgia, "times new roman", serif;
    font-size: .80em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background: #FF8966;
}