* { margin:0; padding:0; box-sizing:border-box; }

body{
    background: #60A68F;
    font-family: Raleway, sans-serif;
}

header{
    text-align: center;
    padding: 1em;
    background: #ff7236;
}
nav{
   background: #17618B;
}

nav a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
a:visited{
    color: #fff;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline;
}

a:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

section img{
    float: left;
    padding: 1em;
    width: 33.33%;
}

h2{
    background: #C82082;
    color: #fff;
    font-size: 2.2em;
    font-family: times, serif;
    text-align: center;
    padding: .5em; 
}

section p {
    margin-bottom: 1em;
    background: #EBD645;
}

.wrapper{
    padding:1em;
}

.column {
    float: left;
    width: 33.33%;
    padding: .7em;
    
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content:"";
  clear: both;
  height: 0;
}

.date{
    text-align: center;
    font-weight: bolder;
}

.school{
    text-align: center;
    font-weight: bold;
}

.facts{
    padding: .5em;
    list-style-type: square;
    list-style-position: inside;
    background-color: #fff;
}

.work{
    text-align: center;
    font-weight: bold;
}


footer{
    font-family: georgia, "times new roman", serif;
    font-size: .80em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}